---
http_interactions:
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test+foo+bar@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"testfoobar"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210903Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/75ce9b26-6c7d-4c0f-a415-7c8374a82d27/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=6e8ff579ecc8f9b522f20abcf3c8e414962ee9fecfab0d698264a8bb3b97acdf
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/3muZzSZQmu5lEivVegA2xr
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/accounts/3muZzSZQmu5lEivVegA2xr","username":"testfoobar","email":"test+foo+bar@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/3muZzSZQmu5lEivVegA2xr/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/3muZzSZQmu5lEivVegA2xr/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/49WFix1bG8bLuqXp4BNokv"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"emailVerificationToken":null}'
  recorded_at: Mon, 20 May 2013 21:09:04 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/loginAttempts
    body:
      encoding: UTF-8
      string: '{"type":"basic","value":"dGVzdCtmb28rYmFyQGV4YW1wbGUuY29tOndyb25ncGFzc3dvcmQ="}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210904Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/ff22b22c-f440-4c70-8526-5f9b244acabf/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=c4830d4839046a8968fffa867a722a34dec7e1837c5484e50370d64c5c3abb4a
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":400,"code":400,"message":"Invalid username or password.","developerMessage":"Invalid
        username or password.","moreInfo":"mailto:support@stormpath.com"}'
  recorded_at: Mon, 20 May 2013 21:09:06 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/3muZzSZQmu5lEivVegA2xr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210906Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/8ec4694f-7e28-409b-9871-82a6ef765fd8/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=7a3cf29496e32e745b5164962e9a1fd76ecc4c7177b3836953357fce6d2b2f3a
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 May 2013 21:09:06 GMT
recorded_with: VCR 2.5.0
