---
http_interactions:
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test+foo+bar@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"testfoobar"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210908Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/ae087b5d-9166-46cb-b7f6-58b981ea05bb/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=fd11de030ba8ed41c3329a1b1c9f2aafb00e59329c5c7b5133ae36d04d888499
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB","username":"testfoobar","email":"test+foo+bar@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/49WFix1bG8bLuqXp4BNokv"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"emailVerificationToken":null}'
  recorded_at: Mon, 20 May 2013 21:09:09 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/loginAttempts
    body:
      encoding: UTF-8
      string: '{"type":"basic","value":"dGVzdCtmb28rYmFyQGV4YW1wbGUuY29tOlN1Y2Mzc3Mh"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210909Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/7f7229bd-f981-4789-bf70-62684ce62b60/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=f5fc89236f2d913a71406d232dcd8986aed2fe595a52013c45f38df7ed7cb4c5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account":{"href":"https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB"}}'
  recorded_at: Mon, 20 May 2013 21:09:10 GMT
- request:
    method: get
    uri: https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB?
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210910Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/d85c3cc0-4b40-408e-9b2c-a42eda157fae/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=2d1591383204ee555ae75c374f4617b965be7d810adbc060bd55c900a8e3f979
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB","username":"testfoobar","email":"test+foo+bar@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/49WFix1bG8bLuqXp4BNokv"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"emailVerificationToken":null}'
  recorded_at: Mon, 20 May 2013 21:09:11 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/3sWtYmU71TKBEkTrmk1laB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210911Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/82e8e258-4802-403d-b08b-85f952cd4c11/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=a76ae0094521dc601ef204d754c0a0d8a02115e8ead7f6e7bc7961d175dd7046
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 May 2013 21:09:11 GMT
recorded_with: VCR 2.5.0
