---
http_interactions:
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test+foo+bar@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"testfoobar"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210911Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/01233e1c-f90f-433d-b71a-d46d952c8a4c/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=10ada1774424d1ff2e1882c70cf360a28c207ef78890b835dab65f53de04fbc2
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln","username":"testfoobar","email":"test+foo+bar@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/49WFix1bG8bLuqXp4BNokv"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"emailVerificationToken":null}'
  recorded_at: Mon, 20 May 2013 21:09:12 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/loginAttempts
    body:
      encoding: UTF-8
      string: '{"type":"basic","value":"dGVzdCtmb28rYmFyQGV4YW1wbGUuY29tOlN1Y2Mzc3Mh"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210912Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/669b5396-943e-4f4c-b1e6-c10105a9d291/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=3c5f6426955b656e8a227cffdf12911a4701b923e2585ce280c292256a3b446f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account":{"href":"https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln"}}'
  recorded_at: Mon, 20 May 2013 21:09:13 GMT
- request:
    method: get
    uri: https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln?
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210913Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/e89f8e35-2b33-4f2e-b6e2-ff5c328ce7ad/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=c1556c1539d3325ef4958c808c57b8fc551b3e6228b5097867094557cafd140f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln","username":"testfoobar","email":"test+foo+bar@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/49WFix1bG8bLuqXp4BNokv"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"emailVerificationToken":null}'
  recorded_at: Mon, 20 May 2013 21:09:13 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/3vPYCrrGR0KOCURkjzIvln
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210913Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/8f0ecf21-3ef9-45d5-be3b-6cb9d9b3a2a5/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=573210e692d00b8cbb5b30a981e0ceee45a60cb1818e0c773cc8c4b617132b65
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 May 2013 21:09:13 GMT
recorded_with: VCR 2.5.0
