---
http_interactions:
- request:
    method: get
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl?
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210857Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/bf43b1f7-52cd-419a-a928-0e4e5af7a5ae/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=5da23652088b60f8f4ba066ca1592b78bd2cd97319665691749554039bac4152
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl","name":"Rails
        App Sample Application","description":"","status":"ENABLED","tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"accounts":{"href":"https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/accounts"},"groups":{"href":"https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/groups"},"passwordResetTokens":{"href":"https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/passwordResetTokens"}}'
  recorded_at: Mon, 20 May 2013 21:08:58 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test+foo+bar@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"testfoobar"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210858Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/9a7e73a1-1487-4dd4-950e-fe8dfddaf44f/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=c34b8c553a3a68629ae72269b68ba1f92cf671c06f93f29ed2e5fd91d19979b2
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn","username":"testfoobar","email":"test+foo+bar@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/49WFix1bG8bLuqXp4BNokv"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"emailVerificationToken":null}'
  recorded_at: Mon, 20 May 2013 21:08:59 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/loginAttempts
    body:
      encoding: UTF-8
      string: '{"type":"basic","value":"dGVzdCtmb28rYmFyQGV4YW1wbGUuY29tOlN1Y2Mzc3Mh"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210859Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/31527e61-01e7-45b5-a97f-02f11adb619e/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=47562ced70a52fb80d959ea0d47711541b00371aa5dba82e7fa19daf6071f68b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account":{"href":"https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn"}}'
  recorded_at: Mon, 20 May 2013 21:09:00 GMT
- request:
    method: get
    uri: https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn?
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210900Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/0fd0f9fb-ca3e-4fb3-9164-4b46eb15d5f1/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=48bf7a5ceb4aae8dc7615f511154d90a3600583b36975224448aa03d7214114c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn","username":"testfoobar","email":"test+foo+bar@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/49WFix1bG8bLuqXp4BNokv"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"emailVerificationToken":null}'
  recorded_at: Mon, 20 May 2013 21:09:00 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/3h0lEo2mqiboDRZGYVXwrn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210900Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/c7affe43-d7ee-45da-aca6-5846b36fdd62/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=b51df2057ca4f0d316a50e3c7e69d8f5f9bc04ad738ce746b1840fe46be87374
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 May 2013 21:09:01 GMT
recorded_with: VCR 2.5.0
