---
http_interactions:
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test+foo+bar@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"testfoobar"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210901Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/33df245a-3361-4f1c-9863-b149a201615b/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=be328b83136c8ea19efe583c6da80de4b70c6b7e3fbc332cd8f3f983d7c6d78d
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f","username":"testfoobar","email":"test+foo+bar@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/49WFix1bG8bLuqXp4BNokv"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"emailVerificationToken":null}'
  recorded_at: Mon, 20 May 2013 21:09:02 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/49W74qREYJevxnhYKFm9Jl/loginAttempts
    body:
      encoding: UTF-8
      string: '{"type":"basic","value":"dGVzdCtmb28rYmFyQGV4YW1wbGUuY29tOlN1Y2Mzc3Mh"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130520T210902Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/87eff2f3-893e-4751-aef7-04ccacd89fda/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=49e6ef8917f7129e0eef56093a367a42802f286832e0700e335be2ba52f4e57e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account":{"href":"https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f"}}'
  recorded_at: Mon, 20 May 2013 21:09:03 GMT
- request:
    method: get
    uri: https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f?
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210903Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/357ccee1-6c97-48c1-998a-62577fb1306e/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=b959ce23a3917c055247d628e2e9a4e3879770b93629c1793b68cbce883f0450
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"href":"https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f","username":"testfoobar","email":"test+foo+bar@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/49WFix1bG8bLuqXp4BNokv"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/4W6Lm9qs3UIfYx4y2na0ns"},"emailVerificationToken":null}'
  recorded_at: Mon, 20 May 2013 21:09:03 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/3k1r1Ju61ScLISXUKT533f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130520T210903Z
      Authorization:
      - SAuthc1 sauthc1Id=1QYHMUW1JDFS5TSBZ2AMR0K32/20130520/a567fcf0-5d4e-4983-b9cc-0a0dcb165ac0/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=81ca11cbf3db830092636e7b0da443869dbcbe4c6918b3bd801205809fd4e9b5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 May 2013 21:09:03 GMT
recorded_with: VCR 2.5.0
